body{
    font-family: 'Teko', sans-serif;
    background-image: url(shapes/7.png);
    margin: 0%;
    
}
.header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin:0rem 0rem 3rem 0rem;
}
#header{
    width: 100%;
   text-align: end;

}
.topstyle{
    margin: 3%;
    background-image: linear-gradient(firebrick, firebrick);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;


}
.topstyle:hover{
border: 2px dotted white;

}
.headingstyle-1{
    font-size: 70px;
    color: firebrick;
  
}
h2{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.flexible-section{
    display: flex;
    margin-top: 5%;   
}
.image-1{
    width:50%;
    text-align: right;
    margin-left: 10%;
    padding-right: 200px; 
    
}
.top-section-text{
    width: 500px;
    padding-left:150px;
    margin-left: 5%;
    text-align: justify; 
    padding-top: 50px;
    margin-top: 3%;
}
p{
    font-size: 20px;
    text-align: justify;
    margin-top: 0;
}
#link-button{
    background-image: linear-gradient(orange, peru);
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
}
.middle-section-text{
    width: 30%;
    padding-right:50px;
    margin-right: 10%;
    text-align: justify; 
    padding-top: 50px;
    margin-top: 8%;
    padding-left: 200px;
}
.image-2{
    margin-left: 5%;
    padding-top: 20px;  
}
#fooditem{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 0;
}
.bottom-photo{
    margin: 3.5%;
    box-shadow: 10px 10px 10px gray; 
    padding: 0.5rem;  
    border-radius: 10px;
    background-color:whitesmoke;
}
.bottom-photo img{
    border-radius: 10px;  
}
article{
    font-size: 20px;
    text-align: center;
}
.optional{
   margin-left:50px;
    text-align: center;  
}
hr{
    margin-left: 10%;
    margin-right: 5%;
}
footer{
    text-align: center ;
    margin-top: 100px;
    font-size: 15px;
    background-color: black;
    color: white;
    margin-bottom: 0%;
}